# Assignment 1: Data acquisition and cleaning

---

## Data acquisition and inspection

Read and create a data frame

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/albendsouza/CS-F441-Data-Visualization/main/Assignments/Assignment%201/pincode.csv')

<ipython-input-1-9ba121192881>:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://raw.githubusercontent.com/albendsouza/CS-F441-Data-Visualization/main/Assignments/Assignment%201/pincode.csv')

Count the number of rows and columns:

In [2]:
num_rows, num_cols = df.shape
print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_cols}")

Number of Rows: 157126
Number of Columns: 11

List the column names:

In [3]:
column_names = df.columns
print(column_names)

Index(['CircleName', 'RegionName', 'DivisionName', 'OfficeName', 'Pincode',
       'OfficeType', 'Delivery', 'District', 'StateName', 'Latitude',
       'Longitude'],
      dtype='object')

Count the number of rows & columns with missing values:

In [4]:
rows_with_missing_values = df.isnull().any(axis=1).sum()
print(f"Rows with missing values: {rows_with_missing_values}")

columns_with_missing_values = df.isnull().any(axis=0).sum()
print(f"Columns with missing values: {columns_with_missing_values}")

Rows with missing values: 8900
Columns with missing values: 4

In [5]:
df.dtypes

CircleName      object
RegionName      object
DivisionName    object
OfficeName      object
Pincode          int64
OfficeType      object
Delivery        object
District        object
StateName       object
Latitude        object
Longitude       object
dtype: object

## Data cleaning

### Re-read the CSV file with 'Latitude' and 'Longitude' columns read as string:

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/albendsouza/CS-F441-Data-Visualization/main/Assignments/Assignment%201/pincode.csv', dtype={'Latitude': 'str', 'Longitude': 'str'})

In [7]:
num_rows, num_cols = df.shape
print(f"Number of Rows before cleaning: {num_rows}")
print(f"Number of Columns before cleaning: {num_cols}")

Number of Rows before cleaning: 157126
Number of Columns before cleaning: 11

Remove rows with missing values and reset the indices:

In [8]:
# Drop rows where either 'Latitude' or 'Longitude' is missing
df.dropna(subset=['Latitude', 'Longitude'], inplace=True)

# Reset the indices of the dataframe
df.reset_index(drop=True, inplace=True)

num_rows, num_cols = df.shape
print(f"Number of Rows after cleaning: {num_rows}")
print(f"Number of Columns after cleaning: {num_cols}")

Number of Rows after cleaning: 148279
Number of Columns after cleaning: 11

In [9]:
df.dtypes

CircleName      object
RegionName      object
DivisionName    object
OfficeName      object
Pincode          int64
OfficeType      object
Delivery        object
District        object
StateName       object
Latitude        object
Longitude       object
dtype: object

In [10]:
df

,CircleName,RegionName,DivisionName,OfficeName,Pincode,OfficeType,Delivery,District,StateName,Latitude,Longitude
0,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Peddakotla B.O,515631,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.5689,77.85624
1,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Pinnadhari B.O,515631,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.5281,77.857014
2,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Yerraguntapalle B.O,515631,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.561111,77.85715
3,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Obulareddipalli B.O,515581,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.2488,78.2588
4,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Odulapalli B.O,515581,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.24555,78.2477
...,...,...,...,...,...,...,...,...,...,...,...
148274,Uttar Pradesh Circle,Bareilly Region,Meerut Division,Rly Road Meerut SO,250002,PO,Non Delivery,MEERUT,UTTAR PRADESH,28.9800000,77.6800000
148275,Uttar Pradesh Circle,Bareilly Region,Meerut Division,SGMandi SO,250002,PO,Non Delivery,MEERUT,UTTAR PRADESH,28.9724000,77.6753600
148276,Uttar Pradesh Circle,Bareilly Region,Meerut Division,W K Road SO,250001,PO,Non Delivery,MEERUT,UTTAR PRADESH,28.9900000,77.7100000
148277,Kerala Circle,Calicut Region,Calicut Division,Kakkoti SO,673611,PO,Delivery,KOZHIKODE,KERALA,11.2452900,75.7784550
148278,Kerala Circle,Calicut Region,Calicut Division,Kotuvalli SO,673572,PO,Delivery,KOZHIKODE,KERALA,11.3500000,75.9100000

### Clean the 'Latitude' and 'Longitude' columns and convert them to float type:

This task is iterative, meaning the cleaning process is based on the errors encountered during conversion. This is a generic structure:

In [11]:
def convert_to_float(column):
    try:
        return df[column].astype(float)
    except Exception as e:
        print(e)
        # Handle the exception here, for instance finding out which rows are problematic, and correct them.
        # Return False so that the calling function knows conversion was not successful
        return False

### Convert Latitude & Longitude columns to type float

In [12]:
convert_to_float('Latitude')

convert_to_float('Longitude')

could not convert string to float: '21.9161 N'
could not convert string to float: '84.0464 E'

False

On encountering the following error, we take into account cases where the direction has been mentioned in the latitude and longitude in the cleaning process and append the following case into our previous code

In [13]:
def clean_value(value):
    return ''.join(filter(lambda x: x.isdigit() or x == '.', value))

def convert_to_float(column):
    try:
        df[column] = df[column].astype(float)
        return True
    except Exception as e:
        # Directly clean the column values upon facing a conversion error
        df[column] = df[column].apply(clean_value)
        return False

# Attempt to convert
success_lat = False
success_lon = False

while not success_lat:
    success_lat = convert_to_float('Latitude')

while not success_lon:
    success_lon = convert_to_float('Longitude')

Then after taking into account the above testcase we check for other exceptions with the generic template and see if its able to convert all values:

In [14]:
def convert_to_float(column):
    try:
        df[column].astype(float)
        return True
    except Exception as e:
        print(e)
        # Handle the exception here, for instance finding out which rows are problematic, and correct them.
        # Return False so that the calling function knows conversion was not successful
        return False

convert_to_float('Latitude')

convert_to_float('Longitude')

True

Thus ther are no ore exceptions we need to take into account and all the values in the columns have been converted to float

In [15]:
df.dtypes

CircleName       object
RegionName       object
DivisionName     object
OfficeName       object
Pincode           int64
OfficeType       object
Delivery         object
District         object
StateName        object
Latitude        float64
Longitude       float64
dtype: object

### On verifying from the above we can see the conversion of the datatype of the columns has happened. Thus the data is clean.